<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    

    
    <name>QuikShop</name>


    <description>
        A mobile productivity grocery store shopping app 
    </description>
	
    <author "https://github.com/brownjessie5/N300_Final" email="brown.jessie5@gmail.com">
        Jessie Brown
    </author>


   

	<icon src="icon.png" />
	




</widget>